[submodule "catch"]
	path = ext/catch
	url = https://github.com/philsquared/Catch
[submodule "imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "astra"]
	path = ext/astra-toolbox
	url = https://github.com/astra-toolbox/astra-toolbox
[submodule "ext/cppzmq"]
	path = ext/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "ext/libzmq"]
	path = ext/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/RLovelett/eigen.git
